@{
    ViewBag.Title = "Receving_Scan_Wip";
    Layout = "~/Views/Shared/_LayoutSI.cshtml";
}
@section Tilte {
    @*<div class="col-xs-12" id="current_menu" data-level_1="WIP-WMS" data-level_2="Receiving Management" data-level_3="Receiving Scan(WIP)"></div>*@
    <div class="col-xs-12" id="current_menu" data-level_1="@Html.Raw(ViewData["WIP-WMS"])" data-level_2="@Html.Raw(ViewData["Receiving Management"])" data-level_3="@Html.Raw(ViewData["Receiving Scan(WIP)"])"></div>
}
<input type="hidden" name='id_no' id='id_no' value="@ViewData["Message"]" class="input-text form-control">
<div class="container-fluid">
    <div class="box-body my-2 bg-white">
        <div class="row p-0 m-0">

            <div class="col-md-1 py-1 text-right">
                <label>SD No</label>
            </div>
            <div class="col-md-1 py-1">
                <input type="text" name="sd_no" id="s_sd_no" class="input-text form-control">
            </div>
            <div class="col-md-1 py-1 text-right">
                <label>SD Name</label>
            </div>
            <div class="col-md-1 py-1">

                <input type="text" name="sd_nm" id="s_sd_nm" class="input-text form-control">
            </div>
            <div class="col-md-1 py-1 text-right">
                <label>Product</label>
            </div>
            <div class="col-md-1 py-1">

                <div class="input-group mt_plus">
                    <input type="text" name="style_no" id="c_style_no" class="input-text form-control" placeholder="Product" required>
                    <span class="input-group-addon psbom"><a href="#" class="poupdialogStyle"><i class="fa fa-search text-navy"></i></a></span>
                </div>
            </div>
            <div class="col-md-1 py-1 text-right">
                <label>Remark</label>
            </div>
            <div class="col-md-1 py-1">
                <input type="text" name="s_remark" id="s_remark" class="input-text form-control">
            </div>

            <div class="col-md-1 p-1 d-flex">
                <button id="searchBtn" class="btn btn-sm btn-success button-srh ml-5"><i class="fa fa-save">&nbsp;Search</i></button>
            </div>

        </div>

    </div>
</div>
@*---------------------------------------------------------------------------------------------------------------------------*@
<div class="container-fluid">
    <div class="box-body my-2 bg-white">
        <div class="p-0 m-0">
            <table id="list"></table>
            <div id="listPager"></div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row box-body my-2">
        <div class="col-md-2 py-1">
            <label>Chọn kệ</label>
            <div class="input-group mt_plus">
                <input type="text" name="SelectRack" id="SelectRackName" class="input-text form-control " readonly placeholder="Chọn kệ" required />
                <input type="hidden" name="SelectRack" id="SelectRack" class="input-text form-control" placeholder="Chọn kệ" required />
                <span class="input-group-addon psbom "><a href="#" class="SelectLocation"><i class="fa fa-search text-navy"></i></a></span>
            </div>
        </div>
        <div class="col-md-6 py-1">
            <label>ML No</label>
            <input type="text" name='ml_cd' id='ml_cd' class="input-text form-control" placeholder="ML No" required>
            <input type="hidden" name='sd_no' id='m_sd_no' class="input-text form-control">

            @*<input type="text" name='remain_qty' id='remain_qty' class="input-text form-control" placeholder="Remaining:" readonly>*@
            <input type="hidden" name='remain_qty' id='remain_qty1' class="input-text form-control" placeholder="Remaining:" readonly>
        </div>


        @*<button type="button" id="Save_completed" class="btn btn-success button-sm"><i class="fa fa-save">&nbsp;Scan Completed</i></button>*@


    </div>
</div>
<!--Dialog Product-->
<div class="dialog_PRODUCT" title="Product Information">
    <div class="container-fluid p-0 m-0">
        <div class="box-body well text-right">
            <div class="row p-0 m-0">
                <div class="col-md-3 p-2">
                    <input type="text" name="style_no" id="style_no_popup" placeholder="Product Code" maxlength="50" class="input-text form-control">
                </div>
                <div class="col-md-3 p-2">
                    <input type="text" name="style_no" id="style_nm_popup" placeholder="Product Name" maxlength="50" class="input-text form-control">
                </div>
                <div class="col-md-3 p-2">
                    <input type="text" name="md_cd" id="md_cd_popup" placeholder="Model Code" class="input-text form-control">
                </div>
                <div class="col-md-3 p-2 d-flex">
                    <button id="searchBtn_product_popup" class="btn btn-sm mr-1 btn-primary button-srh"><i class="fa fa-search">&nbsp;Search</i></button>
                    <button type="button" class="btn btn-sm btn-success button-srh disabled" id="savestyle_product"><i class="fa fa-save">&nbsp;Selected</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid  p-0 m-0">
        <div class="box-body my-2 bg-white">
            <div class="p-0 m-0 ">
                <table id="popupProduct"></table>
                <div id="pagerProduct"></div>
            </div>
        </div>
    </div>
</div>
<!--Dialog SelectLocation-->
<div class="poupdialogSelectLocation" title="Danh sách kệ kho sản xuất">
    <div class="container-fluid p-0 m-0">
        <div class="box-body well text-right">
            <div class="row p-0 m-0">
                <div class="col-md-3 p-2">
                    <input type="text" name="s_locationCode" id="s_locationCode" placeholder="Code" class="input-text form-control">
                </div>
                <div class="col-md-3 p-2">
                    <input type="text" name="s_locationName" id="s_locationName" placeholder="Name" class="input-text form-control">
                </div>
                <div class="col-md-3 p-2 d-flex">
                    <button id="searchBtn_Location_popup" class="btn btn-sm mr-1 btn-primary button-srh"><i class="fa fa-search">&nbsp;Search</i></button>
                    <button type="button" class="btn btn-sm btn-success button-srh disabled" id="SelectLocation"><i class="fa fa-save">&nbsp;Selected</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid  p-0 m-0">
        <div class="box-body my-2 bg-white">
            <div class="p-0 m-0 ">
                <table id="ListRack"></table>
                <div id="pagerListRack"></div>
            </div>
        </div>
    </div>
</div>
@*-------------------------------------------------------------list 1--------------------------------------------------------------*@
<div class="container-fluid">
    <div class="box-body my-2 bg-white">
        <div class="p-0 m-0">
            <table id="list1"></table>
            <div id="listPager1"></div>
        </div>
    </div>
</div>
@*-------------------------------------------------------------list 1--------------------------------------------------------------*@

<div class="popup-dialog SD_Info_Popup" title="SD Infomation">
    <div id="PartialView_WIP_Recei_SD_Popup"></div>
</div>
@*---------------------------------------------------------------------------------------------------------------------------*@


<div class="popup-dialog Receving_Scan_Wip_Missing_M_Popup" title="Warning : Missing material">
    <div id="PartialView_Receving_Scan_Wip_Missing_M_Popup"></div>
</div>

@section scripts{

    <script src="~/Scripts/wipwms/RecevingScanWip/LocationRackPoup.js"></script>
    <script src="~/Scripts/Shippingmgt/ShippingPickingScan/Product_Poup.js"></script>

    <script src="~/Scripts/wipwms/RecevingScanWip/Receving_Scan_Wip.js"></script>

}
