@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Print.cshtml";
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<title>::: Finished Goods Shipping Management :::</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    @*<script type="text/javascript" src="http://fsm.autonsi.com/resources/plugins/grcodejs/jquery.min.js"></script>*@
    <script src="~/Content/jquery.min_1.8.3/jquery.min_1.8.3.js"></script>

    @*<script type="text/javascript" src="http://fsm.autonsi.com/resources/plugins/grcodejs/qrcode.js"></script>*@
    <script src="~/Content/grcodejs/qrcode.js"></script>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
    <script src="~/Content/jquery-3.4.1.min/jquery-3.4.1.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>*@
    <script src="~/Content/popper_1.14.7/popper.min.js"></script>
<style type="text/css">
  .all_cg {
        display: flex;
    justify-content: center;
    align-items: center;
    }
  table.qrhead{page-break-before:always}
  body{
font-size:9px;
margin:0px;padding:0px;
}
.qrhead{
width:150px; height:150px;
}
</style>
</head>
<body>
    <input type="hidden" id="id" value="@ViewData["Message"]"/>

    <div id="barcode"></div>
    <div id="sds"></div>
<script type="text/javascript">
    $(document).ready(function () {
        var id = $('#id').val();
        print(id);
    });
    function print(id) {
        $.get("/StandardMgtWh/QRbarcodewwh" + "?id=" + id, function (data) {
            var html = '';
            $.each(data, function (key, item) {
                html += ' <table class="table table-striped table-hover table-bordered qrhead"><thead> <tr>';
                html += ' <th colspan="2" style="text-align:center">' + item.lct_bar_cd + '</th></tr></thead>';
                html += '<tbody> <tr> <td colspan="2" style="text-align:center">' + item.index_cd + "-" + item.lct_nm + '</td></tr>';
                //html += ' <tr> <td style="text-align:center">Date</td><td style="text-align:center">' + item.date + '</td></tr>';
                html += ' <tr><td  colspan="2"><div id="code_' + item.lctno + '" class="all_cg"></div><p style="text-align:center;    padding-top: 10px; ">' + item.lct_bar_cd + '</p></td></tr>';
                html += ' </tbody></table>';
            });

            $("#barcode").html(html);
            $.each(data, function (key, item) {
                var code = new QRCode(document.getElementById("code_" + item.lctno + ""), {
                    width: 150,
                    height: 150
                });
                code.makeCode(item.lct_bar_cd);
            });
        });
    };
</script>

</body>
