
<div class="container-fluid py-4">
    <table id="dataTable_Material" class="table table-bordered table-striped" style="width: 100%">
         <caption></caption>
        <thead>
            <tr class="table-warning">
                <th style="text-align: center !important">STT</th>
                <th style="text-align: center !important" class="hidden">order_lv</th>
                <th style="text-align: center !important">Công Nhân + Thời gian</th>
                <th style="text-align: center !important">Process</th>
                <th style="text-align: center !important">Code</th>
                <th style="text-align: center !important">Material Name</th>
                <th style="text-align: center !important">Used Material Spec</th>
                <th style="text-align: center !important">Size</th>
                <th style="text-align: center !important">Quantity(M)</th>
                <th style="text-align: center !important">Lot No</th>
                <th style="text-align: center !important">Export Date</th>
                <th style="text-align: center !important">Date Of Receive</th>
                <th style="text-align: center !important">Expiry Date</th>
            </tr>
        </thead>
    </table>
</div>

@if (Model != null && Model.Count > 0)
{
    <script>
$(function () {
  var model = @Html.Raw(Json.Encode(Model));
    var t3 = $('#dataTable_Material').DataTable({
        "processing": true,
        data: model,
        "searching": false,
        "paging": false,
        "bInfo": false,
        "columns": [
            {
                'className': 'details-control',
                'orderable': false,
                'data': null,
                'defaultContent': ''
            },
            { "data": "order_lv" },
            { "data": "congnhan_time" },
            { "data": "process" },
            { "data": "mt_no" },
            { "data": "mt_nm" },
            { "data": "mt_cd" },
            { "data": "size" },
            { "data": "SLLD" },
            { "data": "lot_no" },
            { "data": "expore_dt" },
          
            { "data": "dt_of_receipt" },
            { "data": "expiry_dt" },
          
        ],
        "orderFixed": {
            "pre": [1, 'asc']
        },
        'rowsGroup': [2, 3, 4, 5, 6,7,8,9,10,11],
        'columnDefs': [
            {
                "targets": 0, // your case first column
                "className": "text-center",
                "width": "3%"
            },
            {
                "targets": 3, // your case first column
                "className": "text-center",
                "width": "10%"
            },
            {
                "targets": [1],
                "visible": false
            }

        ],
        "bDestroy": true,
    });//bảng 4
    t3.on('order.dt search.dt', function () {
        t3.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1;
        });
    }).draw();
})
    </script>
}



