@model IEnumerable<Mvc_VD.Models.comm_dt>
    @{
        ViewBag.Title = "BusinessType";
        Layout = "~/Views/Shared/_LayoutSI.cshtml";
    }

    @section Tilte {
        @*<div class="col-xs-12" id="current_menu" data-level_1="STANDARD" data-level_2="Standard Information" data-level_3="Supplier Type Information"></div>*@
        <div class="col-xs-12" id="current_menu" data-level_1="@Html.Raw(ViewData["STANDARD"])" data-level_2="@Html.Raw(ViewData["Standard Information"])" data-level_3="@Html.Raw(ViewData["Supplier Type Information"])"></div>
    }

    <div class="container-fluid">
        <div class="row text-right">
            <div class="col-md-12 px-3">
                <button type="submit" id="excelBtn" class="btn btn-sm btn-warning button-top"><i class="fa fa-file-excel-o">&nbsp;Excel</i></button>
                <button type="submit" id="htmlBtn" class="btn btn-sm btn-warning button-top" hidden="hidden"><i class="fa fa-print">&nbsp;HTML</i></button>
            </div>
        </div>
    </div>
    <!-- Search function -->
    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="row p-0 m-0">
                <div class="col-lg-auto pt-2">
                    <label><b>Code</b></label>
                </div>
                <div class="col-lg-2 p-1 mr-5">
                    <input type="text" name="dt_cd" id="s_dt_cd" class="input-text form-control" maxlength="6" />
                </div>
                <div class="col-lg-auto pt-2">
                    <label><b>Name</b></label>
                </div>
                <div class="col-lg-2 p-1 mr-5">
                    <input type="text" name="dt_nm" id="s_dt_nm" class="input-text form-control" maxlength="50">
                </div>
                <div class="col-lg-1 p-2">
                    <button id="searchBtn" class="btn btn-sm btn-primary button-srh"><i class="fa fa-search">&nbsp;Search</i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Search function -->
    @*---------------------------------------------------------------------------------------------------------------------------*@
    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="row p-0 m-0">
                <table id="BusinessTypeInforGrid"></table>
                <div id="BusinessTypeInforPager"></div>
            </div>
        </div>
    </div>
    @*---------------------------------------------------------------------------------------------------------------------------*@

    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active" id="tab_1"><a href="#tab_1" data-toggle="tab">Create</a></li>
                    <li id="tab_2"><a href="#tab_2" data-toggle="tab">Modify</a></li>
                </ul>
            </div>
            <div class="tab-content active" id="tab_c1">
                <form id="form1">
                    <div class="row p-2">
                        <div class="col-lg-1 py-1">
                            <input type="hidden" name="mt_id" id="c_mt_id">
                            <input type="text" name="dt_cd" id="c_dt_cd" class="form-control form-control-text" maxlength="6" placeholder="Code">
                        </div>
                        <div class="col-lg-2 py-1">
                            <input type="text" name="dt_nm" id="c_dt_nm" class="form-control form-control-text" maxlength="50" placeholder="Name">
                        </div>
                        <div class="col-lg-1 py-1">
                            <select name="use_yn" id="c_use_yn" class="form-control form-control-text select2">
                                <option value="Y" selected="selected">Use</option>
                                <option value="N">UnUse</option>
                            </select>
                        </div>
                        <div class="col-lg-3 py-1">
                            <input type="text" name="dt_exp" id="c_dt_exp" class="form-control form-control-text" maxlength="200" placeholder="Description">
                        </div>
                        <div class="col-lg-1 p-2">
                            <div class="row p-0 m-0">
                                <button type="button" id="c_save_but" class="btn btn-success button-srh2 active"><i class="fa fa-save">&nbsp;Create</i></button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-content hidden" id="tab_c2">
                <form id="form2">
                    <div class="row p-2">
                        <div class="col-lg-1 py-1">
                            <input type="hidden" name="name" value=" " id="remark_color" />
                            <input type="hidden" name="m_cdid" id="m_cdid">
                            <input type="text" name="dt_cd" id="m_dt_cd" class="form-control form-control-text" maxlength="6" placeholder="Code" readonly="readOnly">
                        </div>
                        <div class="col-lg-2 py-1">
                            <input type="text" name="dt_nm" id="m_dt_nm" class="form-control form-control-text" maxlength="50" placeholder="Name">
                        </div>
                        <div class="col-lg-1 py-1">
                            <select name="use_yn" id="m_use_yn" class="form-control form-control-text select2">
                                <option value="Y" selected="selected">Use</option>
                                <option value="N">UnUse</option>
                            </select>
                        </div>
                        <div class="col-lg-3 py-1">
                            <input type="text" name="dt_exp" id="m_dt_exp" class="form-control form-control-text" maxlength="200" placeholder="Explain">
                        </div>
                        <div class="col-lg-2 p-2">
                            <div class="row p-0 m-0">
                                <button type="button" id="m_save_but" class="btn btn-success mr-5"><i class="fa fa-save">&nbsp;Modify</i></button>
                                <button type="button" id="del_save_but" class="btn btn-danger"><i class="fa fa-scissors">&nbsp;Delete</i></button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Popup -->
    <div id="dialogDangerous" title="Are you make sure DELETE ?">
        <div class="container-fluid">
            <div class="box-body bg-white text-right">
                <div class="row p-0 m-0">
                    <div class="col-md-12 p-2">
                        <button type="button" class="btn btn-sm btn-success button-srh mr-3" id="closestyle">No</button>
                        <button type="button" class="btn btn-sm btn-danger button-srh" id="deletestyle">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ Popup -->

    @section scripts{
        @*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>*@
        <script src="~/Content/jquery.validate_V1.9/jquery.validate.min.js"></script>
        <script src="~/Scripts/standard/BusinessTypeInfor/_BusinessTypeInfor.js"></script>
        <script src="~/Scripts/standard/BusinessTypeInfor/_BusinessTypeInfor_poup.js"></script>
    }
