@model IEnumerable<Mvc_VD.Models.d_bobbin_info>
@{
    ViewBag.Title = "BusinessType";
    Layout = "~/Views/Shared/_LayoutSI.cshtml";
}

@section Tilte {
    <div class="col-xs-12" id="current_menu" data-level_1="DEVELOPMENT" data-level_2="Development Management" data-level_3="BOM Detail (M)"></div>
    @*<div class="col-xs-12">
        <h4 class="m-0 text-dark"><b>BOM Detail (M)</b></h4>
        <small style="font-size:14px;"><i class="fa fa-dashboard"></i> &gt;  
                HOME > Development Management > BOM Detail (M)
        </small>
    </div> *@
} 

<form method="post" >
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12 px-3">
                <h1>Developing ...</h1>
            </div>
        </div>       
    </div>
</form>


@section scripts{
    <script src="~/Scripts/DevManagement/bomdt-mgt.js"></script>
}

