@model IEnumerable<Mvc_VD.Models.comm_mt>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_LayoutSI.cshtml";
    }

    @section Tilte {
        @*<div class="col-xs-12" id="current_menu" data-level_1="DMS" data-level_2="Development Management" data-level_3="Develop Common (M)"></div>*@
        <div class="col-xs-12" id="current_menu" data-level_1="@Html.Raw(ViewData["DMS"])" data-level_2="@Html.Raw(ViewData["Development Management"])" data-level_3="@Html.Raw(ViewData["Develop Common (M)"])"></div>
    }

    @*---------------------------------------------------------------------------------------------------------------------------*@
    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="row p-0 m-0">
                <table id="DevelopCommonGrid"></table>
                <div id="DevelopCommonGridPager"></div>
            </div>
        </div>
    </div>
    @*---------------------------------------------------------------------------------------------------------------------------*@

    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active" id="tab_1"><a href="#tab_1" data-toggle="tab">Create</a></li>
                    <li id="tab_2"><a href="#tab_2" data-toggle="tab">Modify</a></li>
                </ul>
            </div>
            <div class="tab-content active" id="tab_c1">
                <form id="form1">
                    <div class="row p-2">
                        <div class="col-lg-1 py-1">
                            <input type="hidden" name="mt_id" id="c_mt_id">
                            <input type="text" name="mt_cd" id="c_mt_cd" class="form-control form-control-text" placeholder="Main Code" readonly="readonly">
                        </div>
                        <div class="col-lg-2 py-1">
                            <input type="text" name="mt_nm" id="c_mt_nm" class="form-control form-control-text" placeholder="Main  Name">
                        </div>
                        <div class="col-lg-3 py-1">
                            <input type="text" name="mt_exp" id="c_mt_exp" class="form-control form-control-text" placeholder="Main  Explain">
                        </div>
                        <div class="col-lg-1 py-1">
                            <select name="use_yn" id="c_use_yn" class="form-control form-control-text select2">
                                <option value="Y" selected="selected">Use</option>
                                <option value="N">UnUse</option>
                            </select>
                        </div>
                        <div class="col-lg-1 py-2 d-flex">
                            <button type="button" id="c_save_but" class="btn btn-success button-sm"><i class="fa fa-save">&nbsp;Create</i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-content hidden" id="tab_c2">
                <form id="form2">
                    <div class="row p-2">
                        <div class="col-lg-1 py-1">
                            <input type="hidden" name="mt_id" id="m_mt_id">
                            <input type="text" name="mt_cd" id="m_mt_cd" class="form-control form-control-text" placeholder="Main Code" readonly="readonly">
                        </div>
                        <div class="col-lg-2 py-1">
                            <input type="text" name="mt_nm" id="m_mt_nm" class="form-control form-control-text" placeholder="Main  Name">
                        </div>
                        <div class="col-lg-3 py-1">
                            <input type="text" name="mt_exp" id="m_mt_exp" class="form-control form-control-text" placeholder="Main  Explain">
                        </div>
                        <div class="col-lg-1 py-1">
                            <select name="use_yn" id="m_use_yn" class="form-control form-control-text select2">
                                <option value="Y" selected="selected">Use</option>
                                <option value="N">UnUse</option>
                            </select>
                        </div>
                        <div class="col-lg-1 py-2 d-flex">
                            <button type="button" id="m_save_but" class="btn btn-success button-srh2   mr-5"><i class="fa fa-save">&nbsp;Modify</i></button>
                            <button type="button" id="del_save_but" class="btn btn-danger button-srh2" disabled="disabled"><i class="fa fa-scissors">&nbsp;Delete</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*---------------------------------------------------------------------------------------------------------------------------*@
    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="row p-0 m-0">
                <table id="DevCommDtGrid"></table>
                <div id="DevCommDtGridPager"></div>
            </div>
        </div>
    </div>
    @*---------------------------------------------------------------------------------------------------------------------------*@

    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active" id="tab_d1"><a href="#tab_d1" data-toggle="tab">Create</a></li>
                    <li id="tab_d2" class=""><a href="#tab_d2" data-toggle="tab">Modify</a></li>
                </ul>
            </div>
            <div class="tab-content active" id="tab_dc1">
                <form id="form3">
                    <div class="box-body box-body-bottom-input">
                        <div class="row p-2">
                            <div class="col-lg-1 py-1">
                                <input type="text" name="cdid" id="dc_cdid_cd" class="form-control form-control-text" placeholder="No" readonly="readonly">
                            </div>
                            <div class="col-lg-1 py-1">
                                <input type="text" name="mt_cd" id="dc_mt_cd" class="form-control form-control-text" placeholder="Main Code" readonly="readonly">
                            </div>
                            <div class="col-lg-1 py-1">
                                <input type="text" name="dt_cd" id="dc_dt_cd" class="form-control form-control-text" placeholder="Detail Code">
                            </div>
                            <div class="col-lg-2 py-1">
                                <input type="text" name="dt_nm" id="dc_dt_nm" class="form-control form-control-text" placeholder="Detail Code Name">
                            </div>
                            <div class="col-lg-2 py-1">
                                <input type="text" name="dt_exp" id="dc_dt_exp" class="form-control form-control-text" placeholder="Detail Code Explain">
                            </div>
                            <div class="col-lg-2 py-1">
                                <input type="text" name="dt_order" id="dc_dt_order" class="form-control form-control-text" placeholder="Detail Order">
                            </div>
                            <div class="col-lg-1 py-1">
                                <select name="use_yn" id="dc_use_yn" class="form-control select2">
                                    <option value="Y" selected="selected">Use</option>
                                    <option value="N">UnUse</option>
                                </select>
                            </div>
                            <div class="col-lg-2 py-2 d-flex">
                                <button type="button" id="dc_save_but" class="btn btn-success button-srh2"><i class="fa fa-save">&nbsp;Create</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-content hidden" id="tab_dc2">
                <form id="form4">
                    <div class="box-body box-body-bottom-input">
                        <div class="row p-2">
                            <div class="col-lg-1 py-1">
                                <input type="text" name="cdid" id="dm_cdid_cd" class="form-control form-control-text" placeholder="No" readonly="readonly">
                            </div>
                            <div class="col-lg-1 py-1">
                                <input type="text" name="mt_cd" id="dm_mt_cd" class="form-control form-control-text" placeholder="Main Code" readonly="readonly">
                            </div>
                            <div class="col-lg-1 py-1">
                                <input type="text" name="dt_cd" id="dm_dt_cd" class="form-control form-control-text" placeholder="Detail Code" readonly="readonly">
                            </div>
                            <div class="col-lg-2 py-1">
                                <input type="text" name="dt_nm" id="dm_dt_nm" class="form-control form-control-text" placeholder="Detail Code Name">
                            </div>
                            <div class="col-lg-2 py-1">
                                <input type="text" name="dt_exp" id="dm_dt_exp" class="form-control form-control-text" placeholder="Detail Code Explain">
                            </div>
                            <div class="col-lg-2 py-1">
                                <input type="text" name="dt_order" id="dm_dt_order" class="form-control form-control-text" placeholder="Detail Order">
                            </div>
                            <div class="col-lg-1 py-1">
                                <select name="use_yn" id="dm_use_yn" class="form-control select2">
                                    <option value="Y" selected="selected">Use</option>
                                    <option value="N">UnUse</option>
                                </select>
                            </div>
                            <div class="col-lg-2 py-2 d-flex">
                                <button type="button" id="dm_save_but" class="btn btn-success button-srh2 mr-5"><i class="fa fa-save">&nbsp;Modify</i></button>
                                <button type="button" id="ddel_save_but" class="btn btn-danger button-srh2"><i class="fa fa-scissors">&nbsp;Delete</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Popup -->
    <div id="dialogDangerous_cm" title="Are you make sure DELETE main common?">
        <div class="container-fluid">
            <div class="box-body bg-white text-right">
                <div class="row p-0 m-0">
                    <div class="col-md-12 p-2">
                        <button type="button" class="btn btn-sm btn-success button-srh mr-3" id="closestyle">No</button>
                        <button type="button" class="btn btn-sm btn-danger button-srh" id="deletestyle">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ Popup -->
    <!--Popup -->
    <div id="dialogDangerous_dt" title="Are you make sure DELETE common detail?">
        <div class="container-fluid">
            <div class="box-body bg-white text-right">
                <div class="row p-0 m-0">
                    <div class="col-md-12 p-2">
                        <button type="button" class="btn btn-sm btn-success button-srh mr-3" id="closestyle_dt">No</button>
                        <button type="button" class="btn btn-sm btn-danger button-srh" id="deletestyle_dt">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ Popup -->

    @section scripts{
        <script src="~/Scripts/DevManagement/DevelopCommon/_DevelopCommon.js"></script>
        <script src="~/Scripts/DevManagement/DevelopCommon/_DevelopCommon_Poup.js"></script>
    }
