body {
    font-family: Arial;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab1 {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.col-md-4 {
    width: 33.33333333%;
    float: left;
}

.col-xs-6 {
    width: 50%;
    float: left;
}

.col-xs-3 {
    width: 25%;
    float: left;
}

.col-xs-9 {
    width: 50%;
    float: left;
}

.col-xs-4 {
    width: 30%;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.tab1 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

    /* Change background color of buttons on hover */
    .tab1 button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab1 button.active {
        background-color: #ccc;
    }

/* Style the tab content */
.tabcontent1 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */

.tabcontent1 {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.col-xs-8 {
    width: 66.66666667%;
    float: left;
}



.row {
    margin-left: 0px;
    margin-right: 0px;
}

.col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.box {
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    border-top: 1px solid #d2d6de;
    margin-bottom: 5px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-tabs-custom {
    margin-bottom: 5px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

    .nav-tabs-custom > .nav-tabs {
        margin: 0;
        border-bottom-color: #f4f4f4;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    padding-left: 0;
    /*margin-bottom: 0;*/
    list-style: none;
}

.nav-tabs-custom > .nav-tabs > li:first-of-type {
    margin-left: 0;
}

.nav-tabs-custom > .nav-tabs > li {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}

.nav-tabs > li {
    float: left;
    /*margin-bottom: -1px;*/
}

.nav > li {
    position: relative;
    display: block;
}

.nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
    background: transparent;
    margin: 0;
}

.nav-tabs-custom > .nav-tabs > li > a {
    color: #444;
    border-radius: 0;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.0;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 10px;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #3c8dbc;
}

.nav-tabs-custom > .nav-tabs > li {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li {
    position: relative;
    display: block;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
    border-top-color: transparent;
    /*border-left-color: #f4f4f4;*/
    border-right-color: #f4f4f4;
}

.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
    background-color: #fff;
    color: #444;
}

.nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
    background: transparent;
    margin: 0;
}

.hidden {
    display: none !important;
}

form {
    display: block;
    margin-top: 0em;
}


.box-body-bottom-input {
    padding-left: 10px;
    padding-right: 10px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 5px;
}



.col-md-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-6 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 50%;
    float: left;
}

.col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-2 {
    width: 16.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.text-right {
    text-align: right;
}


.nav-tabs-custom > .nav-tabs > li > a {
    /*color: #444;*/
    border-radius: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    /*color: #555;*/
    cursor: default;
    /*background-color: #fff;*/
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.0;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 10px;
}

.nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
    background: transparent;
    margin: 0;
}


.nav-tabs-custom > .nav-tabs > li > a {
    color: #444;
    border-radius: 0;
}

/*form {
    display: block;
    margin-top: 0em;
}


.form-control-text {
    margin-bottom: 5px;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.form-control {
    display: block;
    width: 100%;
    height: 25px;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.0;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}*/



.col-xs-8 {
    width: 66.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}


/*.btn-success:active:hover {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}
.btn-success:hover, .btn-success:active, .btn-success.hover {
    background-color: #008d4c;
}
.btn:active {
    /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-image: none;
}
/*.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}*/
/*.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}*/
.btn:hover {
    /*color: #333;*/
    text-decoration: none;
}
.btn {
    border-radius: 0px;
}
/*.button-srh2 {
    margin-top: 2px;
    width: 20px;
    text-align: center;
}*/