@{
    ViewBag.Title = "Material_QC_List";
    Layout = "~/Views/Shared/_LayoutSI.cshtml";
}


@section Tilte {
    <div class="col-xs-12" id="current_menu" data-level_1="QMS" data-level_2="QC Information" data-level_3="IQC List"></div>
} 
<section class="content-header">
    <ol class="breadcrumb">
        <li class="active">
            <button type="submit" id="excelBtn" class="btn btn-sm btn-warning button-top"><i class="fa fa-file-excel-o">&nbsp;Excel</i></button>
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            <button type="submit" id="htmlBtn" class="btn btn-sm btn-warning form-control-text"><i class="fa fa-print">&nbsp;HTML</i></button>
            &nbsp;&nbsp;
    </ol>
</section>
<!-- Search function -->

<div class="container-fluid">
    <div class="box-body my-2 bg-white">
        <div class="row p-0 m-0">
            <div class="col-md-1 p-1  text-right">
                <label><b>MWR No</b></label>   
            </div>
            <div class="col-md-1 p-1">
                <input type="text" name="mwro_no" id="mwro_no" maxlength="20" class="input-text form-control">
            </div>
            <div class="col-md-1 p-1  text-right">
                <label><b>MT NO</b></label>
            </div>
            <div class="col-md-1 p-1">
                 <div class="input-group mt_plus">
                        <input type="text" name='c_mt_cd' id='s_mt_no' class="input-text form-control">
                        <span class="input-group-addon psbom"><a href="#"  class="poupdialog"><i class="fa fa-search text-navy"></i></a></span>
                    </div>
            </div>
            <div class="col-md-1 p-1  text-right">
                <label><b>Receive Date</b></label>
            </div>
            <div class="col-md-1 p-1">
                <input type="text" name="rec_input_dt" id="start" class="form-control">
            </div> ~
            <div class="col-md-1 p-1">
                <input type="text" name="rec_input_dt" id="end" class="form-control"> 
            </div>
            <div class="col-md-1 p-2">    
	            <button id="searchBtn" class="btn btn-sm btn-primary button-srh"><i class="fa fa-search">&nbsp;Search</i></button>
            </div>
        </div>
    </div>
</div>

<!-- ./Search function -->

@*---------------------------------------------------------------------------------------------------------------------------*@
<div class="container-fluid">
    <div class="box-body my-2 bg-white">
        <div class="row p-0 m-0">
            <table id="list"></table>
            <div id="gridpager"></div> 
        </div>
    </div>
</div>
<!--./detail-->

<div class="container-fluid">
    <div class="box-body my-2 bg-white">
        <div class="row p-0 m-0">
            <table id="list2"></table>
            <div id="grid2pager"></div> 
        </div>
    </div>
</div>
@*---------------------------------------------------------------------------------------------------------------------------*@
@*------------------------------------------*@
<div class="dialog" title="Material NO">
            <div class="container-fluid">
    <div class="box-body my-2 bg-white">
        <div class="row p-0 m-0">
            <div class="col-md-4">
                <div class="row">
                    <label class="col-xs-3 control-label text-right">
                        <h6 class="control-label-text"><b>Code</b></h6>
                    </label>
                    <div class="col-xs-9" >
                        <input type="text" name="mt_no" id="mt_no" class="form-control" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="row">
                    <label class="col-xs-3 control-label text-right">
                        <h6 class="control-label-text"><b>Name</b></h6>
                    </label>
                    <div class="col-xs-9" >
                        <input type="text" name="mt_nm" id="mt_nm" class="form-control" style="width: 100%;">
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-right">
                <button id="searchBtn_popup2" class="btn btn-sm btn-primary button-srh"><i class="fa fa-search">&nbsp;Search</i></button>
                 <button type="button" class="btn btn-sm btn-success button-srh" id="savestyle"><i class="fa fa-save">&nbsp;Selected</i></button>
                <button type="button" class="btn btn-sm btn-primary button-srh" id="closemate"><i class="fa fa-close">&nbsp;Close</i></button>

            </div>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="row p-0 m-0">
                <table id="popups"></table>
                <div id="popupspager"></div>
            </div>
        </div>
    </div>

</div>
@section scripts {

    <script src="~/Scripts/QCInformation/IQC_List/Material_QC_List.js"></script>
    <script src="~/Scripts/QCInformation/Material_qc_mt_pp.js"></script>
    }
