@{ ViewBag.Title = "ProductActivitionFailed";
    Layout = "~/Views/Shared/_LayoutSI.cshtml"; }
@section Tilte {
    @*<div class="col-xs-12" id="current_menu" data-level_1="QMS" data-level_2="QC Information" data-level_3="TQC List"></div>*@
    <div class="col-xs-12" id="current_menu" data-level_1="@Html.Raw(ViewData["QMS"])" data-level_2="@Html.Raw(ViewData["QC Information"])" data-level_3="@Html.Raw(ViewData["TQC List"])"></div>
}
<div class="container-fluid">
    <div class="box-body my-2 bg-white">
        <div class="row p-0 m-0">
            <div class="col-md-2 py-1">
                <label>Product</label>
                <div class="input-group mt_plus">
                    <input type="text" name="productCode" id="productCode" class="input-text form-control" placeholder="Product">
                    <span class="input-group-addon psbom"><a href="#" class="poupdialogStyle"><i class="fa fa-search text-navy"></i></a></span>
                </div>
            </div>
            <div class="col-md-2 p-1">
                <label><b>PO</b></label>
                <div class="input-group mt_plus">
                    <input type="text" name="s_at_no" id="at_no" class="input-text form-control">
                    <span class="input-group-addon pp_at_no"><a href="#"><i class="fa fa-search text-navy"></i></a></span>
                </div>
            </div>

            <div class="col-md-2 py-1">
                <label>Start Date</label>
                <div class="input-group mt_plus">
                    <input type="text" name="date_ymd" id="start_date_ymd" class="input-text form-control">
                </div>
            </div>
            <div class="col-md-2 py-1">
                <label>End Date</label>
                <div class="input-group mt_plus">
                    <input type="text" name="date_ymd" id="end_date_ymd" class="input-text form-control">
                </div>
            </div>
            <div class="col-md-2 py-1">
                <label></label>
                <div class="input-group mt_plus">
                    <button id="searchBtn" class="btn btn-sm btn-success button-srh ml-5"><i class="fa fa-save">&nbsp;Search</i></button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="dialogpo" title="PO Information">
    <div class="container-fluid">
        <div class="box-body well text-right">
            <div class="row p-0 m-0" style="display: flex; flex-wrap: nowrap;">

                <div class="col-md-2 p-1  text-right">
                    <div class="input-group mt_plus">
                        <input type="text" name="" id="at_nos" placeholder="PO NO" class="input-text form-control">
                    </div>
                </div>
                <div class="col-md-2 p-1">
                    <div class="input-group mt_plus">
                        <input type="text" name="" id="sProductCode" placeholder="Product Code" class="input-text form-control">
                    </div>
                </div>
                <div class="col-md-2 p-1">
                    <div class="input-group mt_plus">
                        <input type="text" name="" id="sDate" placeholder="Create Date" class="input-text form-control">
                    </div>
                </div>

                <div class="col-md-4 p-2">
                    <button id="searchBtn_po" class="btn btn-sm btn-primary button-srh"><i class="fa fa-search">&nbsp;Search</i></button>
                    <button type="button" class="btn btn-sm btn-success button-srh" id="Selected_po"><i class="fa fa-save">&nbsp;Selected</i></button>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="p-0 m-0">
                <table id="list_primary"></table>
                <div id="jqGrid_primaryPager"></div>
            </div>
        </div>
    </div>
</div>
<!-- ./ Dialog -->
<!--Dialog Product-->
<div class="dialog_PRODUCT" title="Product Information">
    <div class="container-fluid p-0 m-0">
        <div class="box-body well text-right">
            <div class="row p-0 m-0">
                <div class="col-md-3 p-2">
                    <input type="text" name="style_no" id="style_no_popup" placeholder="Product Code" maxlength="50" class="input-text form-control">
                </div>
                <div class="col-md-3 p-2">
                    <input type="text" name="style_no" id="style_nm_popup" placeholder="Product Name" maxlength="50" class="input-text form-control">
                </div>
                <div class="col-md-3 p-2">
                    <input type="text" name="md_cd" id="md_cd_popup" placeholder="Model Code" class="input-text form-control">
                </div>
                <div class="col-md-3 p-2 d-flex">
                    <button id="searchBtn_product_popup" class="btn btn-sm mr-5 btn-primary button-srh"><i class="fa fa-search">&nbsp;Search</i></button>
                    <button type="button" class="btn btn-sm btn-success button-srh disabled" id="savestyle_product"><i class="fa fa-save">&nbsp;Selected</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid  p-0 m-0">
        <div class="box-body my-2 bg-white">
            <div class="row p-0 m-0 boxProduct">
                <table id="popupProduct"></table>
                <div id="pagerProduct"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="box-body my-2 bg-white">
        <div class="col-md-12">
            <div id="ProductActivitionFailed">
                <h4>Product Activition Failed</h4>
            </div>
        </div>
    </div>
</div>

<script>
    // requires jquery library
    jQuery(document).ready(function () {
        jQuery(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');
    });
    $('#start_date_ymd').datepicker({
        dateFormat: 'yy-mm-dd',
        "autoclose": true
    });
    $('#end_date_ymd').datepicker({
        dateFormat: 'yy-mm-dd',
        "autoclose": true
    });

    $("#searchBtn").on("click", function () {
        var productCode = $('#productCode').val().trim();
        var start_date_ymd = $('#start_date_ymd').val().trim();
        var end_date_ymd = $('#end_date_ymd').val().trim();
        var at_no = $('#at_no').val().trim();

        $.get("/QCInformation/LoadProductActivitionFailed", {
            productCode: productCode, fromDate: start_date_ymd,
            toDate: end_date_ymd,
            at_no: at_no
        }, function (result) {
            //loading cover show here
            $("#ProductActivitionFailed").html(result);
        });
    });
</script>

<script src="~/Scripts/DevManagement/BomMgt/Product_Poup.js"></script>
<script src="/Scripts/fgwms/Inventory/pp_po.js"></script>