@model IEnumerable<Mvc_VD.Models.comm_mt>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_LayoutSI.cshtml";
    }

    @section Tilte {
        @*<div class="col-xs-12" id="current_menu" data-level_1="STANDARD" data-level_2="System Management" data-level_3="Common Management"></div>*@
        <div class="col-xs-12" id="current_menu" data-level_1="@Html.Raw(ViewData["STANDARD"])" data-level_2="@Html.Raw(ViewData["System Management"])" data-level_3="@Html.Raw(ViewData["Common Management"])"></div>
    }

    @*---------------------------------------------------------------------------------------------------------------------------*@
    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="row p-0 m-0">
                <table id="commonGrid"></table>
                <div id="commonGridPager"></div>
            </div>
        </div>
    </div>
    @*---------------------------------------------------------------------------------------------------------------------------*@

    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active" id="tab_1"><a href="#tab_1" data-toggle="tab">Create</a></li>
                    <li id="tab_2"><a href="#tab_2" data-toggle="tab">Modify</a></li>
                </ul>
            </div>
            <div class="tab-content active" id="tab_c1">
                <form id="form1">
                    <div class="row p-0 m-0">
                        <div class="col-md-7">
                            <div class="row">
                                <input type="hidden" name="mt_id" id="c_mt_id">
                                <input type="hidden" name="name" value=" " id="mt_remark_color" />
                                <div class="col-md-2 py-1">
                                    <input type="text" name="mt_cd" id="c_mt_cd" class="form-control form-control-text" placeholder="Main Code" readonly="readonly">
                                </div>
                                <div class="col-md-2 py-1">
                                    <input type="text" name="mt_nm" id="c_mt_nm" class="form-control form-control-text" placeholder="Main Code Name">
                                </div>
                                <div class="col-md-6 py-1">
                                    <input type="text" name="mt_exp" id="c_mt_exp" class="form-control form-control-text" placeholder="Description">
                                </div>
                                <div class="col-md-2 py-1">
                                    <select name="use_yn" id="c_use_yn" class="form-control form-control-text select2">
                                        <option value="Y" selected="selected">Use</option>
                                        <option value="N">UnUse</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row p-0 m-0">
                                <div class="col-md-12 py-1 ml-5 d-flex">
                                    <button type="button" id="c_save_but" class="btn btn-success button-sm"><i class="fa fa-save">&nbsp;Create</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-content hidden" id="tab_c2">
                <form id="form2">
                    <div class="row p-0 m-0">
                        <div class="col-md-7">
                            <div class="row">
                                <input type="hidden" name="mt_id" id="m_mt_id">
                                <div class="col-md-2 py-1">
                                    <input type="text" name="mt_cd" id="m_mt_cd" class="form-control form-control-text" placeholder="Main Code" readonly="readonly">
                                </div>
                                <div class="col-md-2 py-1">
                                    <input type="text" name="mt_nm" id="m_mt_nm" class="form-control form-control-text" placeholder="Main Code Name">
                                </div>
                                <div class="col-md-6 py-1">
                                    <input type="text" name="mt_exp" id="m_mt_exp" class="form-control form-control-text" placeholder="Description">
                                </div>
                                <div class="col-md-2 py-1">
                                    <select name="use_yn" id="m_use_yn" class="form-control form-control-text select2">
                                        <option value="Y" selected="selected">Use</option>
                                        <option value="N">UnUse</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row p-0 m-0">
                                <div class="col-md-12 py-1 ml-5 d-flex">
                                    <button type="button" id="m_save_but" class="btn btn-success button-srh2   mr-5"><i class="fa fa-save">&nbsp;Modify</i></button>
                                    <button type="button" id="del_save_but" class="btn btn-danger button-srh2" disabled="disabled"><i class="fa fa-scissors">&nbsp;Delete</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*---------------------------------------------------------------------------------------------------------------------------*@
    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="row p-0 m-0">
                <table id="commondtGrid"></table>
                <div id="commondtGridPager"></div>
            </div>
        </div>
    </div>
    @*---------------------------------------------------------------------------------------------------------------------------*@

    <div class="container-fluid">
        <div class="box-body my-2 bg-white">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active" id="tab_d1"><a href="#tab_d1" data-toggle="tab">Create</a></li>
                    <li id="tab_d2" class=""><a href="#tab_d2" data-toggle="tab">Modify</a></li>
                </ul>
            </div>
            <div class="tab-content active" id="tab_dc1">
                <form id="form3">
                    <div class="box-body box-body-bottom-input">
                        <input type="hidden" name="name" value=" " id="dt_remark_color" />
                        <div class="row p-0 m-0">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-1 py-1">
                                        <input type="text" name="mt_cd" id="dc_mt_cd" class="form-control form-control-text" placeholder="Main Code" readonly="readonly">
                                    </div>
                                    <div class="col-md-2 py-1">
                                        <input type="text" name="mt_nm" id="dc_mt_nm" class="form-control form-control-text" placeholder="Main Name" readonly="readonly">
                                    </div>
                                    <div class="col-md-2 py-1">
                                        <input type="text" name="dt_cd" id="dc_dt_cd" class="form-control form-control-text" placeholder="Detail Code">
                                    </div>
                                    <div class="col-md-2 py-1">
                                        <input type="text" name="dt_nm" id="dc_dt_nm" class="form-control form-control-text" placeholder="Detail Code Name">
                                    </div>
                                    <div class="col-md-3 py-1">
                                        <input type="text" name="dt_exp" id="dc_dt_exp" class="form-control form-control-text" placeholder="Description">
                                    </div>
                                    <div class="col-md-1 py-1">
                                        <input type="text" name="dt_order" id="dc_dt_order" class="form-control form-control-text" placeholder="Detail Order">
                                    </div>
                                    <div class="col-md-1 py-1">
                                        <select name="use_yn" id="dc_use_yn" class="form-control select2">
                                            <option value="Y" selected="selected">Use</option>
                                            <option value="N">UnUse</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-1 py-1 d-flex">
                                    <button type="button" id="dc_save_but" class="btn btn-success button-srh2"><i class="fa fa-save">&nbsp;Create</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-content hidden" id="tab_dc2">
                <form id="form4">
                    <div class="box-body box-body-bottom-input">
                        <div class="row p-0 m-0">
                            <div class="col-md-10">
                                <input type="hidden" name="name" value=" " id="dm_cdid_cd" />
                                <div class="row">
                                    <div class="col-md-1 py-1">
                                        <input type="text" name="mt_cd" id="dm_mt_cd" class="form-control form-control-text" placeholder="Main Code" readonly="readonly">
                                    </div>
                                    <div class="col-md-2 py-1">
                                        <input type="text" name="mt_nm" id="dm_mt_nm" class="form-control form-control-text" placeholder="Main Name" readonly="readonly">
                                    </div>
                                    <div class="col-md-2 py-1">
                                        <input type="text" name="dt_cd" id="dm_dt_cd" class="form-control form-control-text" placeholder="Detail Code">
                                    </div>
                                    <div class="col-md-2 py-1">
                                        <input type="text" name="dt_nm" id="dm_dt_nm" class="form-control form-control-text" placeholder="Detail Code Name">
                                    </div>
                                    <div class="col-md-3 py-1">
                                        <input type="text" name="dt_exp" id="dm_dt_exp" class="form-control form-control-text" placeholder="Description">
                                    </div>
                                    <div class="col-md-1 py-1">
                                        <input type="text" name="dt_order" id="dm_dt_order" class="form-control form-control-text" placeholder="Detail Order">
                                    </div>
                                    <div class="col-md-1 py-1">
                                        <select name="use_yn" id="dm_use_yn" class="form-control select2">
                                            <option value="Y" selected="selected">Use</option>
                                            <option value="N">UnUse</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-1 py-1 d-flex">
                                    <button type="button" id="dm_save_but" class="btn btn-success button-srh2 mr-5"><i class="fa fa-save">&nbsp;Modify</i></button>
                                    <button type="button" id="ddel_save_but" class="btn btn-danger button-srh2"><i class="fa fa-save">&nbsp;Delete</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Popup -->
    <div id="dialogDangerous_cm" title="Are you make sure DELETE main common?">
        <div class="container-fluid">
            <div class="box-body bg-white text-right">
                <div class="row p-0 m-0">
                    <div class="col-md-12 p-2">
                        <button type="button" class="btn btn-sm btn-success button-srh mr-3" id="closestyle">No</button>
                        <button type="button" class="btn btn-sm btn-danger button-srh" id="deletestyle">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ Popup -->
    <!--Popup -->
    <div id="dialogDangerous_dt" title="Are you make sure DELETE common detail?">
        <div class="container-fluid">
            <div class="box-body bg-white text-right">
                <div class="row p-0 m-0">
                    <div class="col-md-12 p-2">
                        <button type="button" class="btn btn-sm btn-success button-srh mr-3" id="closestyle_dt">No</button>
                        <button type="button" class="btn btn-sm btn-danger button-srh" id="deletestyle_dt">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ Popup -->

    @section scripts{
        @*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>*@
        <script src="~/Content/jquery.validate_V1.9/jquery.validate.min.js"></script>
        <script src="~/Scripts/system/Common/_CommonMgt.js"></script>
        <script src="~/Scripts/system/Common/_CommonMgt_Poup.js"></script>
    }
